.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__cards {
    display: grid;
    width: 90%;
    padding: 0;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 16px;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    margin: 0 auto;
}

.card__poster {
    color: #0f0f0f;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 1px 1px 10px;
}

.card__poster:hover {
    opacity: 0.8;
}